* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.project-title {
  text-align: center;
  font-size: 24px;
  color: #254766;
  margin-bottom: 20px;
}
.note-keyword {
  font-weight: bold;
  color: #eb0202;
  margin-bottom: 10px;
}
.note-desc {
  font-size: 12px;
  color: #254766;
  margin-bottom: 20px;
  line-height: 1.5;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.textbox-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.textbox {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  resize: vertical;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.textbox:focus {
  border-color: #06597f;
}

.button {
  background-color: #06597f;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 10px;
  transition: transform 0.2s, color 0.2s, background-color 0.2s;
}

.button:hover {
  transform: scale(1.05);
  background-color: #d0d3d4;
  color: #06597f;
}

.progressBox {
  position: fixed;
  top: 30%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 6px solid transparent;
  border-top: 6px solid #254766;
  /* Color of the progress bar */
  animation: zoomIn 1s ease-in-out infinite alternate, spin 1s linear infinite;
  /* Zoom-in and rotation animations */
  z-index: 1000;
  /* Ensure it's above other elements */
  display: none;
  /* Initially visible to cover the content */
}

#toast {
  width: 150px;
  height: 30px;
  background-color: #eeeded;
  color: #254766;
  border-radius: 10px;
  position: absolute;
  text-align: center;
  padding-top: 10px;
  font-weight: 700;
  top: -10%;
  left: 40%;
  animation: toaster ease 3s;
}
.hidden {
  display: none;
}

.table-wrapper {
  width: 100%;
  height: 320px;  
  overflow: auto;
  overflow-x: hidden;
  margin-top: 20px;
  background-color: #74d8ff;
  border-radius: 10px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 0;
  /* position: relative; */
}

th,
td {
  /* border: 1px solid #b8b8b8; */
  padding: 4px 14px;
  text-align: center;
  width: fit-content;
}

th {
  background-color: #035c7e;
  color: white;
  font-weight:600;
  font-size: 14px;
  padding: 6px;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
}
td {
  font-size: 12px;
  font-weight: normal;

}
th:first-child {
  border-top-left-radius: 10px;
}
th:last-child {
  border-top-right-radius: 10px;
}
tbody tr:last-of-type > td:first-child {
  border-bottom-left-radius: 10px;
}
tbody tr td:nth-child(2) {
  width: max-content;
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;  

}
tbody tr:last-of-type > td:last-child {
  border-bottom-right-radius: 10px;
}
tr:hover {
  background-color: #ddd;
}

tr:nth-child(even) {
  background-color: #ecf4f6;
}

th:first-child {
  width: 50px;
}

@keyframes toaster {
  0% {
    top: 0;
  }
  50% {
    top: 10%;
  }
  100% {
    top: -10%;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
